demo/models/demo-api/schemas/error-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="resource">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="message" type="xs:string"></xs:element>
      </xs:sequence>
      <xs:attribute name="error" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
