demo/models/demo-api/schemas/image.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="image">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="url" type="xs:string"></xs:element>
        <xs:element name="thumb" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
