app/def/employee-v1/employees.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:short" name="employeeId"/>
                <xs:element type="xs:string" name="firstName"/>
                <xs:element type="xs:string" name="lastName"/>
                <xs:element type="xs:string" name="birthDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>