app/def/employee-v1/sons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="son">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:short" name="sonId"/>
                <xs:element type="xs:string" name="sonName"/>
                <xs:element type="xs:string" name="sonAge"/>
                <xs:element type="xs:string" name="parentId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>